.jumbotron {
  background: #76a8ff;
  color: white;
  padding-bottom: 80px; 
}
.jumbotron .btn-primary {
  background: #5a90c7;
  border-color: #5a90c7;
}
.jumbotron .btn-primary:hover {
  background: #2f73f0; 
}
