<!DOCTYPE html>
<html>
<head>
  <%- include ("../pages/header.ejs") %>
</head>

<body>


<div class="jumbotron text-center">
    <a href="/">
      <img src="/mastercard-logo.png">
    </a>
    <h1>Heroku App</h1>
    <p>Welcome to my Node.js application deployed to Heroku.</p>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/jissj9/Mastercard_Application_Challenge"><span class="glyphicon glyphicon-download"></span> Coding Assessment Parts 1 and 2</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/jissj9/Heroku-WebApp"><span class="glyphicon glyphicon-download"></span> Heroku WebApp Codebase</a>
</div>

</body>
</html>
